.no-pdd-mrg-first-last-child {
	& > :first-of-type {
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
	& > :last-of-type {
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
}

.align-center {
	text-align: center;
	justify-content: center;
	align-items: center;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
	max-height: 50px;
	margin: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #ededed;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background: $secondary_pink__color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
// main content

// CSS https://github.com/nuktpls/jogo-da-memoria/blob/master/css/app.css

// .container {

// }



.top-hibbon{
	height: 40px;
	line-height: 40px;
	p{
		font-weight: 300;
		font-family: $main__font;
		font-size: $m__fontSize;
		padding: 0 5px;
	}
}

.align-to-right{
	text-align: right;
}
.full-width-row{ &.header-logo-wrapper{
	margin-bottom: 33px;
	height: 60px;
}}



.tag-list-wrapper{
	display: inline-block;
	.footer-social-icons{
		margin: 20px 0;
		a{
			background-color: $cta__color;
			padding: 10px;
			width: 20px;
			height: 20px;
			display: inline-flex;
			font-size: 18px;
			align-items: center;
			justify-content: center;
			border: 2px solid #222222;
			&:nth-child(3){
				margin: 0 10px;
			}
			&:hover{
				border: 2px solid #932601;
			}
		}
	}
}


.boxed-column-child.main-container-wrapper{
	padding: 0 15px;
.main-container{
	max-width: 1110px;
	width: 100%;
	margin: 32px auto;

	h1{
		color: $cta__color;
		font-family: $second__font;
		font-size: 36px;
		font-weight: 500;
		border-left: 5px solid $cta__color;
		padding-left: 10px;
		line-height: 46px;
		margin-bottom: 36px;
	}
	.full-width-row-child.post-cards-row{
		gap: 60px 30px;
		.post-card{
			max-width: 350px;
    	margin: 0 auto;
			background-color: #f6f7fa;
			.post-card-content{
				margin: 20px ;
				h2{
					font-size: 20px;
					font-family: $second__font;
					margin-bottom: 20px;
					& a:hover{
						color: $cta__color;
					}
				}
				p{
					a{font-family: $main__font;
					font-size: 18px;
					font-weight: 300;
					color: #8c9199;
				}
				margin-bottom: 16px;
				}
				a.card-posts-link{
					background-color: #222;
					font-size: 14px;
					color: white;
					font-weight: 700;
					padding: 10px 20px;
					display: inline-block;
					&:hover {
						background-color: $cta__color;
					}
				}
			}
		}

	}

	.pagination.boxed-column {
		margin-top: 50px;
		& .btn-load-more{
			display: block;
			width: 100%;
			button{
				border: 0;
				margin: 0 auto;
				display: block;
				width: 180px;
				cursor: pointer;
				font-size: 22px;
				padding: 10px 0;
				line-height: 22px;
				font-weight: 600;
				font-family: $main__font;
				color: white;
				background: $cta__color;
			}
		}
	}
}


}


.single-post{
	.header-logo-wrapper{
		margin-bottom: 0;
	}

.post-header{
	&.full-width-row{
		margin-bottom: 50px;
	}
	header{
		background-color: #111e24;
		min-height: 270px;
		max-width: 720px;
		margin: 0 auto;
	}
	h1{
		color: #fff;
		font-family: $second__font;
		font-size: 36px;
		font-weight: 500;
	}
	.boxed-column.post{
		height: 100%;
    display: flex;
    align-items: center;
	}

}
.boxed-column.main-post{
	max-width: 720px;
	margin: 0 auto;
}
}




