.no-pdd-mrg-first-last-child {
	& > :first-of-type {
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
	& > :last-of-type {
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
}

.black-row {
	background-color: #000;
}
.align-center {
	text-align: center;
	justify-content: center;
	align-items: center;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
	max-height: 50px;
	margin: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #ededed;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background: $secondary_pink__color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
// main content

// CSS https://github.com/nuktpls/jogo-da-memoria/blob/master/css/app.css

// .container {

// }

/*
 * Styles for the deck of cards
 */
// body {
// 	background-color: #e5e5e5;
// }
.deck {
	width: 100%;
	min-height: 680px;
	// background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	// padding: 32px;
	// border-radius: 10px;
	// box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	// margin: 0 0 3em;
}

.deck .card {
	height: 165px;
	width: 165px;
	background: #eee;
	font-size: 0;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 13px;
	// box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

// .deck .card.open {
// 	transform: rotateY(0);
// 	-webkit-transform: rotateY(0deg);
// 	z-index: 2;
// 	background: #02b3e4;
// 	cursor: default;
// }

// .deck .card.show {
// 	font-size: 33px;
// }

// .deck .card.match {
// 	cursor: default;
// 	background: #02ccba;
// 	font-size: 33px;
// }

/*
 * Styles for the Score Panel
 */

.score-panel {
	text-align: left;
	width: 345px;
	margin-bottom: 10px;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .restart {
	float: right;
	cursor: pointer;
}
// @media (max-width: 600px) {
// 	.deck .card {
// 		margin: 2px;
// 		height: 125px;
// 		width: 100px;
// 		background: #2e3d49;
// 		font-size: 0;
// 		color: #ffffff;
// 		border-radius: 8px;
// 		cursor: pointer;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
// 	}
// }

.main-h1 {
	font-size: 24px;
	line-height: 18px;
	font-weight: 700;
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
}

.hidden {
	opacity: 0;
}

.second-row-for-now {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	position: relative;
	margin-bottom: 30px;
}

.circle-shadow {
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 9;
	border: 0;
	background: white;
	box-shadow: 0px 4px 6px rgb(0 0 0 / 16%);
}
.bold {
	font-weight: 600;
	text-transform: uppercase;
}
.App {
	// position: absolute;
	// width: 100%;
	// height: 100%;
	padding-bottom: 40px;
	header {
		// position: relative;
		// width: 100%;
		// text-align: center;
		// margin-bottom: 8px;

		> div {
			font-size: 15px;
			width: 324px;
			text-align: center;
			margin: 0 auto;
		}
	}

	footer {
		// width: 360px;
		// position: relative;
		// margin: 0 auto;
		// padding: 10px 4px;
		// margin-top: 10px;

		.score {
			justify-content: center;
			display: flex;

			div {
				padding: 8px;
			}
		}

		.restart {
			display: flex;
			justify-content: center;
		}
	}

	.container {
		// display: grid;
		// grid-template-columns: repeat(2, 1fr);
		// grid-template-rows: repeat(6, 1fr);
		// justify-items: center;
		// align-items: stretch;
		// gap: 17px;
		// width: 100%;
		// min-height: 600px;

		width: 100%;
		min-height: 680px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
	}
}
.card {
	transition: 0.3s;
	-webkit-transition: 0.3s;

	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;

	// width: 100%;
	// border: 1px solid red;
	// height: 50px;
	height: 165px;
	width: 165px;
	background: #eee;
	font-size: 0;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 13px;
	img {
		width: 95%;
		height: 95%;
	}

	.card-face {
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		position: absolute;
		width: 100%;
		height: 100%;
		&.card-back-face {
			transform: rotateY(180deg);
			-webkit-transform: rotateY(180deg);
		}
	}

	&.is-flipped {
		transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
		z-index: 2;
	}

	// &.is-inactive {
	// visibility: hidden;
	// opacity: 0;
	// }
}

body {
	.card.is-flipped {
		transform: rotateY(180deg) !important;
		-webkit-transform: rotateY(180deg) !important;
		transition: 0.3s;
		-webkit-transition: 0.3s;
		.card-face.card-back-face {
			transform: unset !important;
			-webkit-transform: unset !important;
			transition: 0.3s;
			-webkit-transition: 0.3s;
			img {
				transform: rotateY(180deg) !important;
				-webkit-transform: rotateY(180deg) !important;
			}
		}
		.card-face.card-font-face {
			transition: 0.3s;
			-webkit-transition: 0.3s;
		}
	}
}
.card-back-face .gatsby-image-wrapper img,
.card-font-face .gatsby-image-wrapper img {
	width: 100%;
	height: 100%;
}

.close-button {
	position: absolute;
	right: 14px;
	top: 17px;
	// width: 35px;
	// height: 35px;
	border: 0;
	// background-color: #e1e8ed;
	background: transparent;
	padding: 0;
	cursor: pointer;
}

.button-restart {
	border: 2px solid $secondary_pink__color;
	// box-shadow: unset;
	cursor: pointer;
	color: $secondary_pink__color;
	background-color: #fff;
	width: 245px;
	height: 48px;
	padding: 16px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: $s__fontSize;
	font-weight: 700;
	font-family: $second__font;
	text-transform: none;

	margin-left: unset !important;
	margin-bottom: 16px;
	&:hover {
		background-color: $secondary_pink__color;
		border-color: $secondary_pink__color;
		color: #fff;
	}
	&.black-button {
		background-color: $black__color;
		border-color: $black__color;
		color: #fff;
		&:hover {
			background-color: #fff;
			border-color: $black__color;
			color: $black__color;
		}
	}
	&.pink-button {
		background-color: $secondary_pink__color;
		border-color: $secondary_pink__color;
		color: #fff;

		&:hover {
			background-color: #fff;
			border-color: $secondary_pink__color;
			color: $secondary_pink__color;
		}
	}
}

.MuiPaper-root {
	overflow-x: hidden;
}
.modal-heading h2,
.modal-paragraph {
	font-family: $second__font;
	color: $black__color;
	text-align: center;

	// &.second {
	// margin-bottom: 18px;
	// }
}
.modal-paragraph {
	font-weight: 500;

	&.bolder,
	& span.bolder {
		font-weight: 700;
	}
}
.modal-heading h2 {
	font-weight: 800;
	font-size: 24px;
	line-height: 30px;
	margin-top: 20px;
	span {
		color: $secondary_pink__color;
		font-size: 40px;
	}
}
.mymodalhere {
	max-width: $boxed__maxWidth;
	margin: 0 auto;
}

.mymodalhere > .MuiDialog-container > div.MuiPaper-root {
	margin: 0;
}
.wrapper-modal {
	padding: 17px 14px;
}

.menu-bar-icon {
	background: $cta__color;
	display: flex;
	align-items: center;
	width: 20px;
	height: 20px;
	padding: 8px;
	// border-radius: 8px;
	border: 3px solid #e9e9ed;
	&:hover{
		border: 3px solid #ffa485;
	}
}
.active{
.menu-bar-icon {
	border: 3px solid #ffa485;
}
}
.modal-group-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 16px;
}
.wrapper-buttons {
	display: flex;
	min-width: 270px;
	align-items: center;
	margin-top: 18px;
	max-width: 560px;
	align-items: baseline;
	span {
		max-width: 87px;
		width: 100%;
		font-size: 14px;
		font-family: $second__font;
		text-transform: uppercase;
		font-weight: 700;
	}
	.modal-group-buttons {
		width: 100%;
	}
}

.modal-share-button {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	height: 22px;
}

.wrapper-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}
// .mymodalhere {
// 	left: -5px !important;
// }

.index-link-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 16px 0;
	align-content: center;
	overflow: hidden;
}

.index-link {
	width: 100%;

	text-indent: 12px;
	max-width: 280px;
	background-color: #eee;
	border-radius: 8px;
	height: 92px;
	margin: 0 auto 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 12px;
	justify-content: space-between;
	font-family: $main__font;
	font-weight: 700;
	font-size: 16px;
	color: #1b1b1b;
	svg {
		position: relative;
		left: -25px;
	}
	&:hover {
		background-color: $link__color;
		color: #fff;
	}
}

.index-first-row p.index-paragraph {
	font-family: $second__font;
	font-weight: 500;
	font-size: 16px;
	margin-top: 16px;
	padding: 0 25px;
}

.index-first-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0 8px;
	align-items: center;
	text-align: center;
}

.index-share-btn {
	font-family: $second__font;
	padding: 0 33px;
	font-weight: 800;
	max-width: 300px;
	@media (min-width: 769px) {
		max-width: 402px;
	}
	margin: 13px auto 0;
	width: 100%;
}
.carousel-logos {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 20px;
	h2.heading-logos {
		font-family: $main__font;
		font-size: 16px;
		text-align: center;
		padding: 30px 0 20px;
	}
	.carousel.carousel-slider {
		max-width: $desktopIndexButtons__maxWidth;
		// @media (max-width: $tablet__size) {
		// 	max-width: $desktopIndexButtons__maxWidth;
		// }

		margin: 0 auto;
		.carousel-status {
			display: none;
		}
		.gatsby-image-wrapper {
			margin: 0 auto;
		}
		.control-arrow {
			width: 50%;
			opacity: 0;
			height: 75px;
			&:hover {
				opacity: 0;
			}
		}
		.carousel-root {
			display: flex;
			flex-wrap: wrap;
		}
		padding-bottom: 35px;
		.control-dots {
			.dot {
				box-shadow: unset;
				background: #c1c1c1;
				opacity: unset;
				width: 16px;
				height: 16px;

				&.selected {
					background-color: #eb4757;
				}
			}
		}
	}
}
.slide {
	opacity: 0;
	transition: opacity 0.5s linear;
	transition-delay: 150ms;
	&.selected {
		opacity: 1 !important;
		transition: opacity 0.5s linear;
		transition-delay: 150ms;
	}
}
.App .container {
	max-width: 760px;
	margin: 0 auto;
}
.footer-gray {
	.container {
		padding: 20px;
	}
	p,
	a {
		color: #a3a3a3;
	}
	img {
		vertical-align: bottom;
		padding-right: 5px;
	}
	font-size: 10px;
	line-height: 12px;
	font-family: $main__font;
}
.slider-wrapper {
	padding-bottom: 20px;
}
.carousel .slider-wrapper.axis-horizontal .slider .slide {
	align-self: center;
}
.card {
	.gatsby-image-wrapper [data-main-image] {
		transform: translateZ(0);
		-webkit-transform: translateZ(0);
		transition: opacity 0.25s linear;
		-webkit-transition: opacity 0.25s linear;
		will-change: opacity;
	}
}

.modal-share {
	max-width: 244px;
	@media (max-width: 768px) {
		max-width: 216px;
	}
}
a.modal-pink-index {
	padding: 0;
	height: 44px;
	width: 241px;
}
.social-links {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	// justify-content: space-evenly;
	height: 22px;
	font-size: 26px;
	max-width: 360px;
	margin: 10px auto;
	padding-bottom: 15px;
}
.phones-container {
	svg {
		margin-bottom: -3px;
		margin-right: 2px;
	}
}
.phones-container,
.warn-message-container {
	line-height: 16px;
	font-size: 12px;
}

.warn-message-container {
	margin: 0;
	svg {
		margin-right: 5px;
	}
	display: flex;
	line-height: 12px;
}
.footer-container p,
.footer-container a {
	font-family: $main__font !important;
}

@media (max-width: 375px) {
	.mymodalhere {
		max-width: 95%;
	}
	.wrapper-modal {
		padding: 0;
		padding-bottom: 15px;
	}
	.modal-share {
		max-width: 205px;
	}
}

.slide-logos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	margin: 0 auto;
}
.slider {
	.slide:last-of-type {
		.slide-logos {
			grid-template-columns: 1fr 1fr;
			max-width: 300px;
		}
	}
}
input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slide-logos {
	.gatsby-image-wrapper > div {
		opacity: 1 !important;

		transition: unset !important;
	}
}

.tooltip {
	position: absolute;
	color: white;
	background: red;
	padding: 3px 5px !important;
	font-size: 18px;
	line-height: 18px;
	border-radius: 3px;
	cursor: pointer;
}

.column-flex-wrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}


.successHTMLstyle  {
	color: green;
	font-weight: 900;
	margin-bottom: 0;
}
.errorHTMLstyle  {
	color: red;
	margin-bottom: 0;
	font-weight: 900;
}




.top-hibbon{
	height: 40px;
	line-height: 40px;
	p{
		font-weight: 300;
		font-family: $main__font;
		font-size: $m__fontSize;
		padding: 0 5px;
	}
}

.align-to-right{
	text-align: right;
}
.full-width-row{ &.header-logo-wrapper{
	margin-bottom: 33px;
	height: 60px;
}}

.header-logo-wrapper{
	.header-logo{
		&.boxed-column-child{
			grid-template-columns: 0.23fr 1fr!important; // needed helper over numColumns by now

			ul{
				align-items: center;
				list-style: none;
				display: flex;
				li{
					line-height: 60px;
					&.menu-shop-bag{
						font-size: 30px;
						svg{
							position: relative;
							top: 5px;
							margin: 0 40px;
						}
					}

					a{
						font-size: 16.5px;
						padding: 19px 20px 17px;
						// @media()
						font-family: $main__font;
						font-weight: 300;
						white-space: nowrap;
						&:hover{
							color: $cta__color;
							border-bottom: 3px solid $cta__color;
						}
					}
				}
				.main-menu-search{
					display: flex;
					align-items: center;
					input{
						border: 0;
						background-color: transparent;
						// padding: 8px 0 0;
						height: 45px;
						color: #8c9199;
						width: 100%;
						max-width: 212px;
						height: 30px;
						background-color: transparent;
						border: transparent;
						border-bottom: 1px solid #8c9199;
						font-family: $main__font;
						font-size: 16px;
					}
					svg{
						font-size: 18px;color: #626262;
					}
					a{
						padding: 0;
						&:hover{
							border: 0
						}
					}
				}
			}
		}
	}
	.logo-link svg{
		padding-top: 5px;
    // height: 60px;
		padding-bottom: 20px;
	}
}

.header-logo .main-nav{
	min-width: 70%;
	justify-self: end;
}
.main-ul{
	height: 60px;
}

.hidden{display: none;}

.main-menu-search-input{
	border: 0;
	background-color: transparent;
}


.main-menu-form{
	min-width: 246px;
	button{
		cursor: pointer;
	}
}



.footer h3,.footer a, .footer p,.footer h4,.footer svg{
	color: white
}

.footer h3{
	font-family: $second__font;
	font-size: 16px;
	margin-bottom: 15px;
    font-weight: 500;
    // line-height: 1.2;
	text-transform: uppercase;

}

.footer p{
	margin-bottom: 15px;
	font-weight: 300;
	line-height: 1.5;
	font-size:14px;
}
.footer h4{
	font-size: 12px;
	color: $cta__color;
	font-family: $second__font;
	font-weight: 600;
}
.footer-column-blog{
	margin-bottom: 20px;
	a{
		padding: 20px 0 15px;
		border-bottom: 1px solid red;
		&:last-of-type{
			border: 0;
		}
		display: grid;
    grid-template-columns: 0.5fr 1fr;
		.gatsby-image-wrapper{
			height: 76px;
			width: 76px;
			margin-right: 7px;
		}
		h4{
			margin-bottom: 10px;
		}
		p{
			margin: 0;
			font-size: 12px;
		}
		&:first-of-type{
			padding-top: 0;
		}
	}
}
.footer-column-nav{
	font-family: $main__font;
	font-size: 14px;
	font-weight: 300;
	// width: auto!important; // over columns width
}
.footer-infos{
	padding-left: 5px;
}
.footer .tag{
	font-size: 11px;
	font-weight: 600;
	padding: 3px 12px;
	// min-width: 60px;
	border: 2px solid #222222;
	background-color: $cta__color;
	color: white;
	margin: 0 3px;
	font-family: $main__font;
	margin: 5px;
	display: inline-block;
	&:hover{
		border: 2px solid #932601;
	}
}
.footer{
	padding-bottom: 20px;
	&.full-width-row{
		margin-top: 50px;
    padding-top: 60px;
		.boxed-column{

			justify-self: center;
		.footer-columns{
			gap: 0 15px;
			max-width: 960px;
			@media(min-width: 1025px){
				max-width: $widescreen__size;
			}
			@media(max-width: 960px){
				grid-template-columns: repeat(2, 1fr)!important; //over numColumns
				max-width: 720px;
			}
			@media(max-width: 574px){
				grid-template-columns: repeat(1, 1fr)!important; //over numColumns
				max-width: 525px;
			}
			.boxed-column-child>div{
				width: 210px;
				padding: 0 15px;
			}
		}
	}
	}
}

.tag-list-wrapper{
	display: inline-block;
	.footer-social-icons{
		margin: 20px 0;
		a{
			background-color: $cta__color;
			padding: 10px;
			width: 20px;
			height: 20px;
			display: inline-flex;
			font-size: 18px;
			align-items: center;
			justify-content: center;
			border: 2px solid #222222;
			&:nth-child(3){
				margin: 0 10px;
			}
			&:hover{
				border: 2px solid #932601;
			}
		}
	}
}
@media(max-width: 960px){
	.footer-infos{order:1}
	.tag-list-wrapper{order:3}
	.footer-column-blog{order:4}
	.footer-column-nav{order:2}
}


.menu-state-not-visible {
	opacity: 0;
	visibility: hidden;
}

.full-width-row.mobile-header{
	height: 62px;
	display: flex;
	align-items: center;
	.logo-link svg{
		width: 60px;
		height: 42px;
	}
	.full-width-row-child{
		display: flex!important; //over numColumns
    justify-content: space-between;
    padding: 0;
		max-width: 690px;
    margin: 0 auto;
		width: 100%;
		position: relative;
		ul{
			display: flex;
			flex-direction: column;
			background-color: #f6f7fa;
			text-indent: 30px;
			width: 245px;
			// align-items: start;
			min-height: 45px;
			line-height: 45px;
			position: absolute;
			right: 0;
			top: 70px;
			justify-content: right;
			@media (max-width: $tablet__size) {
				border-bottom: 0;
			}
			li{
				width: 100%;
				height: 60px;
				line-height: 60px;
				&:first-of-type{
					background-color: #e9e9ed;
					height: 44px;
				}
				&:hover {
					a{
						color: white;
					}
					background-color: $cta__color;
				}
				p{
					font-weight: 300;
					text-align: right;
					padding-right: 30px;
					color: #333;
					line-height: 44px;
				}
				a{
					font-weight: 300;
					font-family: $main__font;
					font-size: 16px;
				}
			}
		}
	}
}


.menu-shop-bag-mobile{
	font-size: 30px;
	svg{
		position: relative;
		top: 5px;
		margin: 0 20px 0 0;
	}
}




.main-container{
	max-width: 1110px;
	width: 100%;
	margin: 32px auto;
	h1{
		color: $cta__color;
		font-family: $second__font;
		font-size: 36px;
		border-left: 5px solid $cta__color;
		padding-left: 10px;
		line-height: 46px;
	}
}
