.no-pdd-mrg-first-last-child {
	& > :first-of-type {
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
	& > :last-of-type {
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
}

.align-to-right{
	text-align: right;
}

.align-center {
	text-align: center;
	justify-content: center;
	align-items: center;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
	max-height: 50px;
	margin: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #ededed;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background: $cta__color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.top-hibbon{
	height: 40px;
	line-height: 40px;
	p{
		font-weight: 300;
		font-family: $main__font;
		font-size: $m__fontSize;
		padding: 0 5px;
	}
}

.tag-list-wrapper{
	display: inline-block;
	.footer-social-icons{
		margin: 20px 0;
		a{
			background-color: $cta__color;
			padding: 10px;
			width: 20px;
			height: 20px;
			display: inline-flex;
			font-size: 18px;
			align-items: center;
			justify-content: center;
			border: 2px solid #222222;
			&:nth-child(3){
				margin: 0 10px;
			}
			&:hover{
				border: 2px solid #932601;
			}
		}
	}
}



p.post-tags{
			background-color: $cta__color;
			display: inline-block;
			font-size: 10px;
    padding: 6px;
		color: white;
		font-weight: 700;
		text-transform: capitalize;
    white-space: nowrap;
		&:nth-child(even){
		background-color: #9300ca;
		margin:0 8px;
	}
}
.post-author{
	display: grid;
	grid-template-columns: 0.2fr 1fr;
	margin-bottom: 50px;

.author-img{
	border: 2px solid #fc4303;
    border-radius: 50%;
    margin-bottom: 10px;
    width: 74px;
    height: 74px;
}
}
 .main-post .container article {
	font-size:18px;
	font-weight: 300;
	font-family: $main__font;
	font-size:18px;
	color: $paragrahp_black__color;
	p{

		margin-bottom: 16px;
	}
	a{
		color: $cta__color;
		&:hover{
			text-decoration: underline;
		}
	}
	strong{
		font-weight: 400;
	}
	ul li{
		font-style: italic;
	}
	h3{
	font-size:16px;
	font-family: $second__font;
	margin-bottom: 10px;
}}
