
.single-post{
	.header-logo-wrapper{
		margin-bottom: 0;
	}

.post-header{
	&.full-width-row{
		margin-bottom: 50px;
	}
	header{
		background-color: #111e24;
		min-height: 270px;
		max-width: 720px;
		margin: 0 auto;
	}
	h1{
		color: #fff;
		font-family: $second__font;
		font-size: 36px;
		font-weight: 500;
	}
	.boxed-column.post{
		height: 100%;
    display: flex;
    align-items: center;
	}

}
.boxed-column.main-post{
	max-width: 720px;
	margin: 0 auto;
}
}
