header {
	// font-size: 13px;
	// padding-bottom: $header__height;
	// z-index: 9;
	position: relative;
	width: 100%;
	// border-top: $heading__border solid $ribbon_top__color;
	div.main-header {
		// flex-direction: row;
		// flex-wrap: wrap;
		// height: 50px;
		// padding-top: 55px;
		// padding-bottom: 32px;
		// display: flex;
		// width: 96%;
		// align-content: center;
		// justify-content: space-between;
		// margin: 0 auto;
		// max-width: 870px;
		@media (max-width: $tablet__size) {
			width: 100%;
			&.main-header-visible {
				// padding-bottom: 244px;
				// transition: 0.3s;
				// -webkit-transition: 0.3s;
				height: 100%;
			}
		}

		& > .header-columns {
			vertical-align: middle;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			@media (max-width: $tablet__size) {
				&:not(.toggle-menu) {
					clear: both;
					display: block;
					margin: 0;
					// position: absolute;
					// left: 0;
				}
			}

			p strong {
				color: $cta__color;
			}
			.logo-link {
				margin-right: 10px;
				@media (max-width: $tablet__size) {
					// &.logo-link-visible {
					// 	position: relative;
					// 	top: 55px;
					// }
					.gatsby-image-wrapper {
						width: 135px;
						height: 56px;
						padding-left: 10px;
						margin-left: 15px;
						margin-top: -9px;
					}
				}
			}
			.logo-link h1 {
				// color: $verylight_brown__bgColor;
				font-family: $main__font;
			}

			.logo-link .newClass img {
				opacity: 1;
				object-fit: contain;
			}
		}

		& > .toggle-menu {
			&.toggle-menu {
				// position: absolute;
				// right: 15px;


				.menu-shop-bag-mobile{
					font-size: 30px;
					svg{
						position: relative;
						top: 5px;
						margin: 0 20px 0 0;
					}
				}


				.active {
					.icon-text {
						margin: 0;
						white-space: nowrap;
						color: $btn_brown__active;
					}
					.icon-main-menu-left,
					.icon-main-menu-right {
						color: $btn_brown__active;
					}
				}

				input#check-toggle-icon {
					display: none;
				}

				label.menu-wrapper {
					display: flex;
					height: 100%;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					font-family: $main__font;
					// font-family: 'Cantata One';
					text-transform: uppercase;
					color: white;
					font-size: 28px;

					// &:hover {
					// color: $secondary_golden_rod__color;
					// }

					div.toggle-icon {
						width: 30px;
						margin: 0px 20px 0 5px;
						float: left;

						@media (max-width: $tablet__size) {
							margin: 0;
						}
					}
				}
			}
		}

		// & > :nth-child(2) {
		// 	order: 0;
		// 	flex: 1 1 30%;
		// 	align-self: stretch;
		// }

		& > :nth-child(3) {
			order: 0;
			flex: 0 1 16%;
			align-self: stretch;
		}
	} /* END div.main-header */
}

body.dark {
	div.main-header {
		background-color: $brand_black__color;
	}
	header div.main-header > .header-columns .logo-link h1 {
		color: $brand_white__color;
	}
}


.mobile-header{
	&.full-width-row{
		height: 62px;
	}
	.logo-link{
		display: flex;
	}
}




.header-logo-wrapper{
	.header-logo{
		&.boxed-column-child{
			grid-template-columns: 0.23fr 1fr!important; // needed helper over numColumns by now

			ul{
				align-items: center;
				list-style: none;
				display: flex;
				li{
					line-height: 60px;
					&.menu-shop-bag{
						font-size: 30px;
						svg{
							position: relative;
							top: 5px;
							margin: 0 40px;
						}
					}

					a{
						font-size: 16.5px;
						padding: 19px 20px 17px;
						// @media()
						font-family: $main__font;
						font-weight: 300;
						white-space: nowrap;
						&:hover{
							color: $cta__color;
							border-bottom: 3px solid $cta__color;
						}
					}
				}
				.main-menu-search{
					display: flex;
					align-items: center;
					input{
						border: 0;
						background-color: transparent;
						// padding: 8px 0 0;
						height: 45px;
						color: #8c9199;
						width: 100%;
						max-width: 212px;
						height: 30px;
						background-color: transparent;
						border: transparent;
						border-bottom: 1px solid #8c9199;
						font-family: $main__font;
						font-size: 16px;
					}
					svg{
						font-size: 18px;color: #626262;
					}
					a{
						padding: 0;
						&:hover{
							border: 0
						}
					}
				}
			}
		}
	}
	.logo-link svg{
		padding-top: 5px;
    // height: 60px;
		padding-bottom: 20px;
	}
}

.header-logo .main-nav{
	min-width: 70%;
	justify-self: end;
}
.main-ul{
	height: 60px;
}

.hidden{display: none;}

.main-menu-search-input{
	border: 0;
	background-color: transparent;
}


.main-menu-form{
	min-width: 246px;
	button{
		cursor: pointer;
	}
}
