header {
	nav.main-nav {
		@media (max-width: $tablet__size) {
			width: 100%;
		}
		margin: 0;
		display: flex;
		justify-content: center;
		transition: visibility 0.2s, opacity 0.3s ease-in-out;
		@media (max-width: $tablet__size) {
			&.menu-state-visible {
				opacity: 1;
				visibility: visible;
				margin-top: -58px;
			}
			&.menu-state-not-visible {
				opacity: 0;
				visibility: hidden;
			}
		}
		@media (max-width: $tablet__size) {
			flex-direction: column;
			flex-wrap: wrap;
			border-bottom: 1px solid $color__light-grey;
			ul.nav-menus {
				overflow: scroll;
				display: inline-table;
				width: 100%;
				li.nav-links {
					place-content: stretch;
					place-items: center;
					white-space: nowrap;
					text-align: center;
					padding: 10px 0;
					border-top: 1px solid $color__light-grey;
					justify-content: center;
					display: grid;
					&:first-of-type {
						border: 0;
						line-height: 40px;
						padding: 0;
						a.nav-main-link {
							margin-bottom: 0;
							line-height: 45px;
							display: contents;
						}
					}
				}
			}
		}
	}
}
ul.nav-menus,
ul.footer-menu {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	background-color: #f6f7fa;
	align-items: center;
	width: 245px;
	align-items: start;
	&:hover {
		background-color: $cta__color;
	}
	@media (max-width: $tablet__size) {
		border-bottom: 0;
	}
	min-height: 45px;
	line-height: 45px;
	li{
		&:first-of-type{
			background-color: #e9e9ed;
		}
		padding: 7px 0px;
		width: 100%;
		text-indent: 30px;
		background-color: #f6f7fa;
	}
	li.nav-links,
	li.footer-links {
		a.nav-main-link,
		a.footer-link {
			font-family: $main__font;
		}
		&:first-of-type {
			a.nav-main-link,
			a.footer-link {
				display: contents;
				font-weight: 900;
				line-height: 17px;
				text-align: center;
				display: block;
				font-size: 10px;
				color: #5e5e5e;
				text-transform: uppercase;
				max-width: 80px;
			}
		}
	}
}

ul.nav-menus {
	&:hover {
		li.nav-links {
			a.nav-main-link {
				color: white;
			}
		}
	}
}
